/*.container {width: 100%;}*/
body {font-size: 16px;}

.collapse.width {
    height: 900px;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.grey {color: #999999;}


/* Will scott edit - created an 'inactive' nav option for the header */ 
  a.inactive {color:#5a717c;}
  .top-bar-section ul li > a.inactive {color:#5a717c;}
  .top-bar-section ul li > a.inactive:hover {color:#5a717c;}

header {background-color: #E7E6E9;}

  /*Will Scott edit - lightened the footer background */
footer {
  background-color: #E7E6E9; 
  color: #999;
}

/* Wrapped around .top-bar to contain to grid width */
.contain-to-grid {
  width: 100%;
  background: #333333; }
  .contain-to-grid .top-bar {
    margin-bottom: 0; }


/* Will scott edit - created an 'inactive' nav option for the header */ 
  a.inactive {color:#5a717c;}
  .top-bar-section ul li > a.inactive {color:#5a717c;}
  .top-bar-section ul li > a.inactive:hover {color:#5a717c;}

    /**** Will additions - made has-dropdown a universal element ****/
  .top-bar-section .has-dropdown, .has-dropdown {
    position: relative; }
    .top-bar-section .has-dropdown > a:after, .has-dropdown > a:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 5px;
      border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
      border-left-style: solid;
      margin-right: 15px;
      margin-top: -4.5px;
      position: absolute;
      top: 50%;
      right: 0; }
    .top-bar-section .has-dropdown.moved {
      position: static; }
      .top-bar-section .has-dropdown.moved > .dropdown {
        display: block; }
  .top-bar-section .dropdown, .dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    z-index: 99; }
    .top-bar-section .dropdown li, .dropdown li {
      width: 100%;
      height: auto; }
      .top-bar-section .dropdown li a, .dropdown li a {
        font-weight: normal;
        padding: 8px 15px; }
        .top-bar-section .dropdown li a.parent-link {
          font-weight: normal; }
      .top-bar-section .dropdown li.title h5 {
        margin-bottom: 0; }
        .top-bar-section .dropdown li.title h5 a {
          color: white;
          line-height: 22.5px;
          display: block; }
      .top-bar-section .dropdown li.has-form {
        padding: 8px 15px; }
      .top-bar-section .dropdown li .button {
        top: auto; }
    .top-bar-section .dropdown, .dropdown {
      padding: 8px 15px 2px;
      margin-bottom: 0;
      text-transform: uppercase;
      color: #777777;
      font-weight: bold;
      font-size: 0.625rem; }




/**** sheff edit not sure why this is needs adding to resize?****/
input  {
  /*height: 1.85rem !important;*/
}

.anno {
    max-width: 2em !important;
    width: 2;
     }

.anno {
  /*display: none;*/
  font-weight: lighter;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  padding: 0.25rem 0.5rem 0.375rem;
  font-size: 1rem;
  background-color: #1773CE;
  color: white;
}
.tation {
  padding-right: 2.5rem;
  background-color: #fb5a1c;
}
.anno a:hover, .anno a {
  color: white;
  display: block;
  /*padding: 0.25rem 0.5rem 0.375rem;*/
}
