/*.container {width: 100%;}*/
body {font-size: 16px;}

.collapse.width {
    height: 900px;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.grey {color: #999999;}