/* CSS Document 

Created by James Fenton 19/03/09
Last updated by Sheff 17/06/12

*/
.dashboard { display: block; margin: 14px; }

.panel { width: 50%; float: left;  }
.panel p, .panel ul { width: 400px; margin: 16px 0px;}

p.line { border-left: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; padding: 5px 0px 0px 0px; margin: 0px;   }
p.info { 
	border-top: 1px dashed #DDDDDD; 
	border-bottom: 1px dashed #DDDDDD; 
	clear: both; 
	margin-bottom: 14px;  
	font-weight: bold;
}
p.info_repeat { 
	border-top: 1px dashed #DDDDDD; 
	border-bottom: 1px dashed #DDDDDD; 
	clear: both; 
	margin-bottom: 14px;  
	font-weight: bold;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
ul.yaxis { margin-top: 4px;  }

.lineGraph { display: block; margin-bottom: 18px; }
.lineGraph ul li { list-style-type: none; width: 8.3%; float: left; text-align: center; }

.eqChart { display: block; margin: 18px 0px; }
.eqChart p { }

.barGraph { display: block; margin-bottom: 18px; }
.barGraph p { width: 300px;  }
.barGraph ul li { list-style-type: none; width: 30px; float: left; text-align: center; }

.bulletGraph {}
.bulletGraph p span.title { display: block; }

.pieChart { 
	display: block; 
	width: 320px; 
	text-align: center; 
	float: left; 
}
.breakdown { 
	
	 }
.breakdown dl dt, .breakdown dl dd { 
	list-style-type: none; 
	font-size: 2em;
	line-height: 1.4em; 

}
.breakdown dt {
	text-align: left;
	width: 20%;

}
.breakdown dd {
	text-align: left;
	width: 100%;
	margin: 0px 0px 0px 0px;
	border-bottom: 1px dashed #DDDDDD;
}

ul.yaxis {
	margin: 0px;
}
h2.heading {
	width: 200px;
	display: inline;
}
h2.heading a, h2.heading a:visited {
	/*color:#4B4B4B;*/
}
h2.heading a:hover {
	text-decoration: none;
	color: #0088CC;
}
a.heading {
	float: right;
	line-height: 36px
}
.bulletGraph {
	padding-top: 2.6em;
}
footer {
	background-color:#F5F5F5;
	background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.mappings dl dt, .mappings dl dd { 
	list-style-type: none; 
	/*font-size: 2em;
	line-height: 1.4em; */

}
.mappings dt {
	text-align: left;
	width: 50%;

}
.mappings dd {
	text-align: left;
	width: 100%;
	margin: 0px 0px 0px 0px;

}
.warning {
	color: #C6394F;
}
th {
	text-align: left;
}

.mappings th {
	background-color:#F7F7F7;
}
.table tbody tr td.missing, .table tbody tr td.missing:hover {
	background-color: #C6394F;
	color: #fff;
}
th label {
	font-weight: bold;	
	line-height: 18px;
	margin-bottom: 0px;
}
tr.filter td label.checkbox, tr.filter td P {
	padding-left: 0px;
	cursor: pointer;
	font-weight: normal;
	color: #0088CC;
}
tr.filter td label.checkbox em, tr.filter p em {
	font-style: normal;
	font-weight: bold;
}
tr.filter td input {
	display: none;
}
td.knowledge {
	font-weight: bold;
	background-color: #F0F0F0;
}
.tablescroll_wrapper {
	height: 340px;
    overflow: auto;
    overflow-x: hidden;
}
.notop .table {
	margin-bottom: 0px;
	
}
.notop .tablescroll_wrapper table {
	border-top: none;
}
a.danger {
	color: #9F0000;
}
.shf {
	padding: 2px 6px 2px 6px;
}
span.spacing {
	padding-right: 15px;
}
.not_started {
	background-color: #F4F3EB;
	width: 30px;
	display: inline-block;
	float: right;
	height: 30px;
	margin-top: 3px;
}
.overdue {
	background-color: #C6394F;
	width: 30px;
	display: inline-block;
	float: right;
	height: 30px;
	margin-top: 3px;
}
.in_progress {
	background-color: #DBD8BD;
	width: 30px;
	display: inline-block;
	float: right;
	height: 30px;
	margin-top: 3px;
}
.completed {
	background-color: #0088CC;
	width: 30px;
	display: inline-block;
	float: right;
	height: 30px;
	margin-top: 3px;
}